.data-public{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.firma h4{
    @include font-h3(1.4rem,1.4rem,bold);
    color: map-get($colors , a-hover );
    margin-top: 10px;
}

.firma p{
    font-size: 1.4rem;
    color: map-get($colors , a-hover );
}

a{
    margin-left: 38px;
}