/*Small Mobile*/
@media (min-width: 0px) and (max-width: 500px){
    header{
    width: 70%;
    }
    .banner{
        width: 70%;
    }

    .navegator{
        width: 70%;
    }

    footer{
        width: 70%;

    }
}
